:root {
  --color-white: #fff;
  --color-black: #1d2026;
  --color-black-75: rgba(0, 0, 0, 0.75);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--color-white);
}

body {
  font-size: 1.6rem;
  font-family: "Kumbh Sans", sans-serif;
}

main {
}
