@mixin repeated_btns {
  display: flex;
  background-color: transparent;
  border: none;
}

// // // // // // // // // // // // // // // // // // // //

.header {
  display: flex;
  align-items: center;
  height: 68px;
  padding: 0 24px;
}

// // // // // // // // // // // // // // // // // // // //

.btn_toggle_nav {
  @include repeated_btns;

  cursor: pointer;
  width: 16px;
  padding: 0 1px;
  position: relative;
  z-index: 10;

  &::after {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  img {
    user-select: none;
  }
}

// // // // // // // // // // // // // // // // // // // //

.btn_logo {
  margin-left: 16px;

  //   img {}
}

// // // // // // // // // // // // // // // // // // // //

.nav {
  width: 100vw;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;

  ul {
    width: 250px;
    height: 100vh;
    padding: 92px 0 0 25px;
    background-color: var(--color-white);
    list-style: none;
  }

  li {
    color: var(--color-black-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;

    ::selection {
      color: currentColor;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  a,
  a:link,
  a:visited {
    display: flex;
    text-decoration: none;
    color: inherit;
  }

  // // // // // // // // // //

  ul {
    transition: transform 0.5s;
    transform: translateX(-250px);
  }

  pointer-events: none;
  transition: background-color 0.4s;
}

.open {
  .nav {
    pointer-events: revert;

    background-color: var(--color-black-75);

    ul {
      transform: translateX(0);
    }
  }
}

// // // // // // // // // // // // // // // // // // // //

.right_corner_box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.btn_cart {
  @include repeated_btns;

  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  img {
    user-select: none;
  }
}

.btn_user_photo {
  @include repeated_btns;

  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 22px;

  img {
    width: 100%;
    height: 100%;
    user-select: none;
  }
}

// // // // // // // // // // // // // // // // // // // //
