// // // // // // // // // // // // // // // // // // // //

@mixin emptyBtn {
  display: flex;
  background-color: transparent;
  border: none;
}

// // // // // // // // // // // // // // // // // // // //

.header {
  display: flex;
  align-items: center;
  padding: 20px 24px 28px 24px;
}

// // // // // // // // // // // // // // // // // // // //

.btn_toggle_navbar {
  @include emptyBtn;

  cursor: pointer;
  position: relative;
  z-index: 10;
  width: 16px;
  margin-right: 16px;
  padding-top: 5px;

  img {
    pointer-events: none;
  }

  &::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

// // // // // // // // // // // // // // // // // // // //

.nav {
  width: 100%;
  //   background-color: var(--color-black-75);
  position: absolute;
  left: 0;
  top: 0;

  ul {
    width: 250px;
    height: 100vh;
    padding-top: 92px;
    padding-left: 25px;
    background-color: var(--color-white);
    list-style: none;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  // Animation

  ul {
    transform: translateX(-250px);
    transition: transform 0.75s;
  }

  background-color: transparent;
  transition: background-color 0.75s;
}

.nav.open {
  ul {
    transform: translateX(0);
  }

  background-color: var(--color-black-75);
}

// // // // // // // // // // // // // // // // // // // //

.right_box {
  display: flex;
  align-items: center;
  column-gap: 22px;
  margin-left: auto;
}

.btn_cart {
  @include emptyBtn;

  img {
    pointer-events: none;
  }
}

.btn_avatar {
  @include emptyBtn;

  img {
    pointer-events: none;
    width: 24px;
    height: 24px;
  }
}

// // // // // // // // // // // // // // // // // // // //
